*{
    margin:0;
}
html{
    font-size: 10px;
}
body{
    display:grid;
}
nav ul{ 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font: bolder;
    font-weight: 600;
    font-size: 2rem;
    background-color: rgb(75, 73, 73);
    font-family: cursive;
    list-style: none;
    color: white;
    padding: 2rem;
    text-align: center;
}
nav ul:first-child{
    padding-left: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li span{
    font-family: serif;
    font-style: italic;
    font-size: 1.8rem;
    
}
nav ul li button{
    font-size: 2rem;
    font:bolder;
    color:white;
    background-color:rgb(75, 73, 73); 
    margin-right: 0;
    width:8rem;
    border-radius: 0.5rem;
    margin-bottom: 0;
}
.box1 a{
    color:white;
    text-decoration: none;
}
.box1{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:2rem;
    height:100%;
    margin-top: 0;
}
.inner-box:nth-child(1){
background-color: grey;
}

.inner-box:nth-child(2){
    background-color: rgb(59, 56, 56);
 }
.inner-box:nth-child(3){
        background-color: rgb(59, 56, 56);
}
        
.inner-box:nth-child(4){
background-color:grey;
}
.inner-box{
    font-family: cursive;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
    padding:8rem;
}

#live{
    font-size: 2rem;
}
#more{
    padding-top: 2rem;
    font:Mija normal ;
    text-justify: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.latest{
    position: absolute;
    background-color: gray;
    font:4rem "bree serif" normal;
    float:right;
    left:64rem;
    text-align: center;
}
.btn{
    float:right;
    font:4rem "bree serif" normal;
    border-radius:1rem;
    position: absolute;
    right:2rem;
}
.article{
    display:grid;
    grid-template-columns: auto auto auto;
    font:bold 2rem Mija normal;
    background-color: rgb(241, 239, 239);
}
.article1{
    padding:4rem;
}
.div-btn{
    background-color: red;
    padding: 1.5rem;
    color:white;
    font:1rem;
    border-radius:1rem;
    border:0.1rem;
}
.div1{
    border:0.5rem solid ;
    background-color: black;
    color: white;
}
.div2-btn{
    padding: 1.5rem;
    background-color: blanchedalmond;
    font-size: 2rem;
    bord-radius:0.1rem;
}
.coming-up{
    font:2rem;
    font-size:22pt;
    font-family:verdana;
    background:url("https://d33wubrfki0l68.cloudfront.net/f0cc4f374fb7edb5677c0e050c84a3f392b8eb8a/943f8/images/events/jamconf-full.svg");
    background-repeat:no-repeat;
    text-align:center;
}
.coming-up-btn{
    padding:2rem;
    font:2rem verdana;
    border-radius:1rem;
}
