*{
    margin:0;
}
html{
    font-size: 10px;
}
nav ul{ 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font: bolder;
    font-weight: 600;
    font-size: 2rem;
    background-color: rgb(75, 73, 73);
    font-family: cursive;
    list-style: none;
    color: white;
    padding: 2rem;
    text-align: center;
}
nav ul:first-child{
    padding-left: 0;
}
a{
    color:white;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li span{
    font-family: serif;
    font-style: italic;
    font-size: 1.8rem;
    
}
nav ul li button{
    font-size: 2rem;
    font:bolder;
    color:white;
    background-color:rgb(75, 73, 73); 
    margin-right: 0;
    width:8rem;
    border-radius: 0.5rem;
    margin-bottom: 0;
}
.box1{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:2rem;
    height:100%;

}
.inner-box:nth-child(odd){
background-color: grey;
}

.inner-box:nth-child(even){
    background-color: rgb(59, 56, 56);
    }
.inner-box{
    font-family: cursive;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
}
.inner-box .susan{
    font-family: cursive;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
}
#live{
    font-size: 2rem;
}